{{template "base" .}}

{{define "content"}}
<div class="container">

    <div class="row">
        <div class="col">
            <h1 class="mt-3">Contact Us</h1>
            <hr>

            <div class="row">
                <div class="col-md-6">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3576.657312585503!2d74.61825818440421!3d26.305207081473746!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39695f26eac2f8af%3A0x963dc8f5c268c50a!2sRajgarh%20Fort!5e0!3m2!1sen!2sca!4v1689621278038!5m2!1sen!2sca"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>

                <div class="col-md-6 text-center">

                    <strong>Fort Rajgadh Bed and Breakfast</strong><br>
                    1234 Royal Heritage Road<br>
                    Rajgarh, Rajasthan<br>
                    India<br>
                    +91 98765 43210<br>
                    <a href="mailto:info@fortrajgadh.com">info@fortrajgadh.com</a>

                </div>
            </div>
        </div>
    </div>

</div>
{{end}}