{{template "base" .}}

{{define "content"}}
<div class="container">

    <div class="row">
        <div class="col">
            <img src="/static/images/majors-suite.jpg" class="img-fluid img-thumbnail rounded mx-auto d-block w-50 my-1"
                alt="general's quarter">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h1 class="text-center mt-3">Major's Suite</h1>
            <p>
                Your home away from home, set on the great Aravalli Mountain ranges, this will be a vacation to
                remember.
                Your home away from home, set on the great Aravalli Mountain ranges, this will be a vacation to
                remember.
                Your home away from home, set on the great Aravalli Mountain ranges, this will be a vacation to
                remember.
                Your home away from home, set on the great Aravalli Mountain ranges, this will be a vacation to
                remember.
                Your home away from home, set on the great Aravalli Mountain ranges, this will be a vacation to
                remember.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            <a id="check-availability-button" href="#!" class=" btn btn-success">Check Availability</a>
        </div>
    </div>

</div>
{{end}}

{{define "js"}}
<script>
    document.getElementById("check-availability-button").addEventListener("click", function () {
        reservation.modal(2)
    })
</script>
{{end}}